<div class="container">
  <div class="columns is-desktop">
    <div class="column register_form">
      <h1 i18n>Register</h1>
      <form>
        <div class="field">
          <label class="label" i18n>Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Your email" i18n-placeholder>
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" i18n>Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="Your password" i18n-placeholder>
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" i18n>Confirm Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="Confirm your password" i18n-placeholder>
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field  is-grouped is-grouped-right">
          <div class="control">
            <button class="button" i18n>Register</button>
          </div>
        </div>
      </form>
    </div>
    <div class="column login">
      <h1 i18n>Already have an account?</h1>
      <p i18n>Use your existing account and manage your notes.</p>
      <br>
      <p><a class="button" [routerLink]="['/login']" i18n="@@registerRegisterButton">Login to your account!</a></p>
    </div>
  </div>

</div>
