@import '~src/styles/_variables';

$navbar-background-color: $primary_background_color;
header{
  background-color: $primary_background_color;
  color: $primary_color;
  height: 70px;
  padding: $primary_padding;

   .navbar-brand img{
     width: 138px;
     height: auto;
   }
    .navbar-burger{
      margin-right: 20px;
    }


}