<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['']">
        <img src="assets/images/logo.png" alt="EresNote" i18n-alt="AppName as alternate text of logo@@primary_header_app_name">
      </a>
      <div class="navbar-burger burger"
      [class.is-active]="responsive_active" (click)="responsive_active=!responsive_active">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" [class.is-active]="responsive_active">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['']" routerLinkActive="active" i18n="@@primary_header_navbar_home">
          Home
        </a>
        <a class="navbar-item" [routerLink]="['contact']" routerLinkActive="active" i18n="@@primary_header_navbar_contact">
          Contact
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a routerLink="/login" class="button" i18n="@@primary_header_navbar_login">Login</a>
            </p>
            <p class="control">
              <a routerLink="/register" class="button" i18n="@@primary_header_navbar_register">Register</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>