<div class="container">
  <div class="recover_password_form">
    <h1 i18n>Set your new password</h1>
    <form>
      <div class="field">
        <label class="label" i18n>Your new password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" placeholder="Your password" i18n-placeholder>
          <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
        </div>
      </div>

      <div class="field">
        <label class="label" i18n>Confirm your new password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" placeholder="Confirm your password" i18n-placeholder>
          <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
        </div>
      </div>

      <div class="field  is-grouped is-grouped-right">
        <div class="control">
          <button class="button" i18n>Update Password</button>
        </div>
      </div>
    </form>
  </div>


</div>
