@import '~src/styles/_variables';

footer, footer p, footer strong{
  color: $primary_color_extra;
}
footer{
  a{
    color: $primary_color;
  }
   position: absolute; bottom: 0; width: 100%;
  /* as it's absolute, you should give it a specific height, or let it be as wide as its content */
}