$primary_color: #F1A94E;
$primary_color_extra: #F2EDD8;
$primary_background_color: #5D4C46;
$primary_font_family: 'Open Sans', sans-serif;
$primary_padding: 10px;

$secondary_color: #5D4C46;
$secondary_background_color: #fff;

$tertiary_color: #E45641;
$tertiary_background_color: #F2EDD8;

