<div class="container">
  <div class="columns is-desktop">
    <div class="column contact_form">
      <h1 i18n>Contact</h1>
      <form>
        <div class="field">
          <label class="label" i18n>Your name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Your name" i18n-placeholder>
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" i18n>Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Your email" i18n-placeholder>
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" i18n>Message</label>
          <div class="control has-icons-left has-icons-right">
            <textarea class="textarea"></textarea>
          </div>
        </div>
        <div class="field  is-grouped is-grouped-right">
          <div class="control">
            <button class="button" i18n>Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="column address">
      <h1 i18n>EresNote Solutions</h1>
      <p i18n>Street address line 1</p>
      <p i18n>Street address line 2</p>
      <p i18n>City, Zip, Country</p>
      <p i18n>Email: <a href="mailto:support@example.com">support@example.com</a></p>
      <p i18n>Phone: <a href="tel:0123456789">0123456789</a></p>

    </div>
  </div>

</div>
