<div class="container">
    <div class="forgot_password_form">
      <h1 i18n>Forgot your password?</h1>
      <form>
        <div class="field">
          <label class="label" i18n>Enter your email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Your email" i18n-placeholder>
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <p class="help" i18n>We will send you a recovery link.</p>
        </div>

        <div class="field  is-grouped is-grouped-right">
          <div class="control">
            <button class="button" i18n>Recover your account</button>
          </div>
        </div>
      </form>
    </div>


</div>
