@import '~src/styles/_variables';
@import '~src/styles/bulma/_bulma_custom';

html{
  body{
    font-family: $primary_font_family;
    margin: 0;
    padding: 0;
  }
  h1{
    font-size: 40px;
    color: $tertiary_color;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 20px;
  }
}