@charset "utf-8";

@import '~src/styles/_variables';

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #fff;

// Update Bulma's global variables
$family-sans-serif: $primary_font_family;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $primary_color_extra;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//navbar

$navbar-background-color: $primary_background_color;
$navbar-item-hover-background-color: $primary_background_color;
$navbar-item-active-background-color: $primary_background_color;
$navbar-tab-hover-background-color: $primary_background_color;
$navbar-dropdown-background-color: $primary_background_color;
$navbar-height: auto;
$navbar-item-img-max-height: auto;
$navbar-item-color: $primary_color_extra;
$navbar-item-hover-color: $primary_color_extra;
$navbar-item-active-color: $primary_color_extra;
$navbar-tab-active-color: $primary_color;
$navbar-dropdown-arrow: $tertiary_color;
$navbar-dropdown-item-hover-color: $primary_background_color;
$navbar-dropdown-item-hover-background-color: $primary_color_extra;
$navbar-dropdown-item-active-color: $primary_color;
$navbar-divider-background-color: $tertiary_background_color;

//buttons
$button-color: $primary_color_extra;
$button-background-color: $primary_background_color;
$button-border-color: $primary_color_extra;

$button-hover-color: $primary_color_extra;
$button-hover-border-color: $primary_color;


//footer
$footer-background-color: $primary_background_color;


@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";