<div class="columns is-desktop">
  <div class="column">
    <div class="table">
      <div class="cell">
        <h1 i18n="@@homeHeroHeading">All your notes in one place</h1>
        <h3 i18n="@@homeHeroSubheading">Access from anywhere, anytime using your account.</h3>
        <p><a class="button" routerlink="[register]" i18n="@@homeCreateAccountButton">Create your account!</a></p>
      </div>
    </div>
  </div>
  <div class="column">
    <img src="assets/images/homepage-hero.png" alt="All your notes in one place" i18n-alt="@@homeHeroImageAlt"/>
  </div>
</div>

<h1 i18n="@@homeHowItWorksHeading" class="howItWorks">How It Works</h1>

<div class="columns is-desktop howItWorksSteps">
  <div class="column">
    <p class="step_number"><span i18n="@@homeHowItWorksStep1No">1</span></p>
    <h3 i18n="@@homeHowItWorksStep1Heading">Register</h3>
    <p i18n="@@homeHowItWorksStep1Content">Create your free account and start making notes for free.</p>
  </div>
  <div class="column">
    <p class="step_number"><span i18n="@@homeHowItWorksStep2No">2</span></p>
    <h3 i18n="@@homeHowItWorksStep2Heading">Add Notes</h3>
    <p i18n="@@homeHowItWorksStep2Content">Start a adding your notes in one place to access from anywhere.</p>
  </div>
  <div class="column">
    <p class="step_number"><span i18n="@@homeHowItWorksStep3No">3</span></p>
    <h3 i18n="@@homeHowItWorksStep3Heading">Search Notes</h3>
    <p i18n="@@homeHowItWorksStep3Content">Easily search your notes in collection.</p>
  </div>
  <div class="column">
    <p class="step_number"><span i18n="@@homeHowItWorksStep4No">4</span></p>
    <h3 i18n="@@homeHowItWorksStep4Heading">Paperless Progress</h3>
    <p i18n="@@homeHowItWorksStep4Content">Progress in your daily life without the need of a paper</p>
  </div>
</div>
