@import '~src/styles/_variables';

 .table{
   display:table;
   height: 100%;
   .cell{
     display:table-cell;
     vertical-align:middle;
   }
 }

.howItWorksSteps{
  text-align:center;
  margin-bottom: 50px;
  .step_number{
    font-size:40px;
    font-weight: bold;
    span{
      background-color: $tertiary_color;
      color: $primary_background_color;

      display: inline-block;
      border: 1px solid transparent;
      border-radius: 50%;
      position: relative;
      padding: 5px 25px;
    }
  }
}

.howItWorks{
  text-align: center;
  padding: 50px;
}
